* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  line-height: 1.6;
  background: #fff;
  color: #333;
}

.body {
      font-family: Arial, sans-serif;
      background: #f4f6ff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }



/* HERO SECTION */
.hero {
  background: url("../Assets/Raj.png") no-repeat center center/cover;
  color: white;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-text h1 {
  font-size: 2.5rem;
}

.hero-text p {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.hero{
  background-image: url('../Assets/Raj.jpg');
}

.btn {
  background: linear-gradient(90deg, gold, orange);
  color: black;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: transform 0.2s;
}


.btn:hover {
  transform: scale(1.05);
}

    .booking-form {
      background: white;
      padding: 25px 30px;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
      width: 340px;
    }

    h2 {
      text-align: center;
      color: #004aad;
      margin-bottom: 20px;
    }

    label {
      font-weight: bold;
      margin-top: 10px;
      display: block;
    }

    select, input {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }

    .price-box {
      margin-top: 15px;
      background: #eaf1ff;
      padding: 10px;
      border-radius: 6px;
      text-align: center;
      font-weight: bold;
      color: #004aad;
    }

    button {
      width: 100%;
      background: #004aad;
      color: white;
      padding: 10px;
      margin-top: 15px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 16px;
    }

    button:hover {
      background: #003580;
    }
    