   * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background: #fff;
  color: #333;
}



.service {
      padding: 2rem;
      max-width: 700px;
      margin: auto;
      text-align: center;
    }
    
.service h2 {
      margin-bottom: 1rem;
      color: #004aad;
    }
.Vehicles {
  padding: 2rem;
  background: #f9f9f9;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1rem;
}
.card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 300px;
  padding: 1rem;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

/* TESTIMONIAL SECTION */
.testimonials {
  padding: 2rem;
  background: #e0f0ff;
  text-align: center;
}

/* MOBILE NAV STYLES */
.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
}

#menu-toggle {
  display: none;
}

