   * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background: #fff;
  color: #333;
}


/* HEADER + NAV */
header {
  background: #004aad;
  color: white;
  height: 3.72rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky; 
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
   
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.service {
      padding: 2rem;
      max-width: 700px;
      margin: auto;
      text-align: center;
    }
    
.service h2 {
      margin-bottom: 1rem;
      color: #004aad;
    }
.Vehicles {
  padding: 2rem;
  background: #f9f9f9;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1rem;
}
.card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 300px;
  padding: 1rem;
}

.card img {
  width: 100%;
  border-radius: 8px;
}


/* MOBILE NAV STYLES */
.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
}

#menu-toggle {
  display: none;
}

footer {
  background: #002b5c;
  color: white;
  text-align: center;
  padding: 1rem;
}
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    background: #004aad;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    display: none;
    text-align: center;
  }

 #menu-toggle:checked + .menu-icon + nav ul {
  display: flex;
  animation: slideDown 0.3s ease-in-out;
}
  .menu-icon {
    display: block;
    padding-left: 3rem;
  }

  nav ul li {
    padding: 1rem 0;
  }
}
 /* Active nav link */
nav a.active {
  border-bottom: 2px solid #090236;
}

/* Shrinking header on scroll */
header.shrink {
  padding: 0.5rem 2rem;
  background: #003080;
  transition: 0.3s;
}

.toform{
  text-decoration: none;
  color: black;
}

#wlcm{
  font-size: 2rem;
}


  </style>